<p-toast></p-toast>
<h2>{{ country }}</h2>
<div class="row">
    <div class="column col-md-2">
        <div class="meta-data">
            <b>Total Comfirmed: </b>
            <h2>{{ this.data.slice(-1)[0].confirmed }}</h2>
        </div>
        <div class="meta-data">
            <b>Deaths: </b>
            <h2>{{ this.data.slice(-1)[0].deaths }}</h2>
        </div>
        <div class="meta-data">
            <b>Recovered </b>
            <h2>{{ this.data.slice(-1)[0].recovered }}</h2>
        </div>
    </div>
    <p-chart
        class="col-md-10"
        id="chart"
        type="line"
        [data]="dataSet"
        (onDataSelect)="selectData($event)"
        [options]="chartOptions"
    ></p-chart>
</div>
