/* Button */
button[type="submit"] {
    display: none;
}

/* AutoComplete */
.ui-autocomplete {
    text-decoration: none;
    margin: 0px;
    display: flex;
    color: white;
    font-weight: 600;
    padding: 1em;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

::ng-deep input {
    text-decoration: none;
    margin: 0px;
    display: flex;
    color: black;
    font-weight: 600;
    padding: 1em;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    width: 98% !important;
}

::ng-deep body .ui-button {
    background-color: #62d152;
}

::ng-deep body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0.539em;
    border: none;
}

::ng-deep body .ui-button:enabled:hover {
    background-color: #24bf11;
}
