/* Button */
button[type="submit"] {
    display: none;
}

/* AutoComplete */
.ui-autocomplete {
    text-decoration: none;
    margin: 0px;
    display: flex;
    color: white;
    font-weight: 600;
    padding: 1em;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

::ng-deep input {
    text-decoration: none;
    margin: 0px;
    display: flex;
    color: black;
    font-weight: 600;
    padding: 1em;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

::ng-deep ul {
    list-style: none;
    padding-left: 0px !important;
    overflow: auto;
    height: 150px;
}

::ng-deep .ui-autocomplete-dropdown {
    display: none;
}

.ui-helper-clearfix {
    background-color: #242926;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 600px) {
    #flag {
        width: 40%;
        height: 40%;
    }

    #country {
        font-size: 120%;
        padding-left: 15%;
    }
}
